.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;

}

.caixa1{
    border: 48px solid #6F8F72;
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2{
    border: 3px solid #F2A65A;
    border-radius: 5px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3{
    border: 3px solid #F2A65A;
    border-radius: 5px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}