@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-image: linear-gradient(to bottom,#8FC1B5,#007566);
    background-attachment: fixed;
}

main{
background-color: white;
margin: auto;
padding: 10px;
box-shadow: 2px 3px 6px #265C4B;
width: 600px;
border-radius: 9px;
}

h1{
    color:#007566 ;
    text-shadow: 2px 2px 4px #265C4B;
    text-align: center;
}
 
h2{
    color: #589A8D;
}

p{
    text-align: justify;
}