
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@100&display=swap');

@font-face{
    font-family: 'android';
    src: url(/fontes/idroid.otf) format(opentype);
    font-weight: normal;
}


:root{
  --cor0:#c5ebd6;
  --cor1:#83e1ad;
  --cor3:#3ddc84;
  --cor4:#2fa866;
  --cor5:#1a5c37;
  --cor6:#063d1e;

  --fonte-padrao:arial,verdana,helvetica,sans-serif;
  --fonte-destaque:'Montserrat', sans-serif;
  --font-android:'android', 'cursive';
}

body{
 background-color: var(--cor0);
 font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00a0\1F517';
}

header{
    background-image: linear-gradient(to bottom, #3ddc84, #1a5c37 );
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}

header > p{
    color: white ;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav{
    background-color: var(--cor5);
    box-shadow: 0px 5px 7px grey;
    padding: 15px; 
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight:bold;
    transition-duration: .5s;
}

nav > a:hover{
    color: var(--cor5);
    background-color: #2fa866;
    border-radius: 5px;
}

header > h1{
 font-weight: 500px;
 color:white;
 font-size: 2em;
 font-family: var(--fonte-destaque);
 text-shadow: 3px 2px 2px black;

 
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 1px grey;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    margin-bottom: 15px;
}

main img{
    max-width: 100%;
    
}

main img.pequena{
    max-width: 350px;
}



main h1{
    font-family: var(--font-android);
    color: var(--cor0)
  
}

main h2{
    font-family: var(--font-android);
    color: var(--cor5);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 6px;
}

main  p{
    margin: 10px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1em;
   }

   main strong{
    color: var(--cor6);
    font-weight: bold;
    background-color: var(--cor1);
    border-radius: 3px;
    padding: 1px 2px;
   }

   main a{
    color: var(--cor6);
    text-decoration: none;
    font-weight: bold;
   }

   main a:hover{

    text-decoration: underline;
   }
    
   div.video{
    background-color: var(--cor1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
   }

   aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px gray;
   }

   aside > ul{
    list-style-type:'\2714\00a0';
    list-style-position: inside;
    columns: 2;

   }

   aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 6px;
    margin: -10px -10px 0px -10px;
    border-radius:5px 5px 0px 0px ;
   }

   aside ul abbr{
    text-decoration: none;
   }
  

   footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 1px;
   }

   footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
   }

   footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
   }

 
    
