*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 5px;
    display: grid;
    grid-template: 100px 80px 1fr 80px/ 200px 1fr 250px;
    gap: 5px;
    border: 3px solid rgba(97, 58, 26, 0.808);
    border-radius: 10px;
}

.topo , .menu , .principal , .secundario , .rodape{
    padding: 10px;
    background-color: burlywood;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    font-family: sans-serif;
    color: sienna;
}

.topo{
    grid-area: 1 / 1 / 2 / 4 ;
}

.menu{
    grid-area: 2 / 1 / 3 /4;
}

.principal{
    grid-area: 3 / 1 / 4 / 3 ;
}

.secundario{
    grid-area: 3 / 3 / 4 / 4 ;
}

.rodape{
    grid-area: 4 / 1 / 5 / 4;
}